/*Tag global para zerar os espaçamentos*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Verdana é uma fonte bem legível*/
body {
  font-family: monospace, Geneva, Tahoma, sans-serif;
  background-color: pink;
}
a {
  text-decoration: none;
  color: palevioletred;
}
/* efeito de passar o mouse por cima do link*/
a:hover {
  color: pink;
}
header {
  padding: 10px;
  background-color: #fff;
}
h1 {
  font-size: 5vh;
  font-family: 'Great Vibes', cursive;
  color: palevioletred;
}
main {
  margin-top: 50px;
}
/* Lista do menu personalizada*/
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
li {
  font-weight: 600;
  font-size: 22px;
}
/* blocos dos textos será centralizados*/
.textos {
  display: flex;
  justify-content: center;
}
/* Os conteúdos terão no máximo 500px de largura*/
img {
  max-width: 700px;
  margin: 10px 0;
  border: 3px solid #ebebeb;
}
/* Os conteúdos terão no máximo 500px de largura*/
p {
  margin-bottom: 10px;
  width: 700px;
}
footer {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 20px;
}
#copy {
  font-size: 12px;
  letter-spacing: 2px;
}